<ion-header>
  <ion-toolbar>
    <ion-title>CLIMATISM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="temperature">
    <ion-text color="primary">
      <h1 id="temp">68</h1>
      <p>Temperature</p>
    </ion-text>
    <ion-button fill="outline" id="power">
      <ion-icon src="../../assets/icon/power-outline.svg"></ion-icon>
    </ion-button>
    <ion-button id="thermometer" fill="clear">
      <ion-icon src="../../assets/icon/thermometer.svg"></ion-icon>
    </ion-button>
    <ion-button fill="outline" id="up">
      <ion-icon src="../../assets/icon/chevron-up.svg"></ion-icon>
    </ion-button>
    <ion-button fill="outline" id="down">
      <ion-icon src="../../assets/icon/chevron-down.svg"></ion-icon>
    </ion-button>
  </div>
  <div class="mode">
    <ion-text class="title">
      <p>MODE</p>
    </ion-text>
    <div>
      <ion-chip>
        <ion-label>Cool</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Eco</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Fan</ion-label>
      </ion-chip>
    </div>
  </div>
  <div class="fan">
    <ion-text class="title">
      <p>FAN SPEED</p>
    </ion-text>
    <div class="container">
      <ion-chip>
        <ion-label>Low</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Med</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>High</ion-label>
      </ion-chip>
    </div>
  </div> -->
</ion-content>
