<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="air-conditioner">
        <ion-icon src="../../assets/icon/climatism.svg"></ion-icon>
        <ion-label>Climatism</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="notifications">
        <ion-icon src="../../assets/icon/notifications-outline.svg"></ion-icon>
        <ion-label>Notifications</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon src="../../assets/icon/home-outline.svg" ></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="hotel-service">
        <ion-icon src="../../assets/icon/service.svg"></ion-icon>
        <ion-label>Services</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tv-remote">
        <ion-icon src="../../assets/icon/remote.svg"></ion-icon>
        <ion-label>TV remote</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>