<ion-header>
  <ion-toolbar>
    <ion-title>TV REMOTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" id="power">
    <ion-icon src="../../assets/icon/power-outline.svg"></ion-icon>
  </ion-button>
  <div class="container">
    <div>
      <ion-button>
        <p>1</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>2</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>3</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>EXIT</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>4</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>5</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>6</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>INFO</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>7</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>8</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>9</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>MENU</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>BACK</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>0</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>MUTE</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <p>OK</p>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <ion-icon src="../../assets/icon/chevron-up.svg"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <ion-icon src="../../assets/icon/chevron-down.svg"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <ion-icon src="../../assets/icon/chevron-back.svg"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button>
        <ion-icon src="../../assets/icon/chevron-forward.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
